/* GLOBAL */
* { margin: 0px; word-wrap: break-word; }
body, html { margin: 0px; padding: 0px; font-family: 'Open Sans'; }
body { background-color: $corBranco; color: $corPrincipal; /* margin-top: 100px; */ }
a, a:hover, a:active, a:focus, a:visited { cursor: pointer; text-decoration: none; color: $corSecundaria; }

/* TÍTULOS E TEXTOS */
main { 
	padding: 15px 0px; 
	font-size: 18px; 
	min-height: 500px;
	h1, h2, h3, h4, h5, h6 {
		padding: 5px 0px;
		&.title {
			padding: 20px 0px;
		}
	}
}
h1, h2, h3, h4, h5, h6 { 
	font-family: 'Open Sans';
    font-weight: 700;
	margin: 0px;
	&.title {
		text-transform: uppercase;
		padding: 30px 0px;
		color: $corPrincipal;
	}
}
h1 {  }
h2 { font-size: 35px; padding: 25px 0px; color: $corPrincipal; }
.content-text { color: $corText; }

/* ELEMENTOS */
ul { list-style-type: none; padding-inline-start: 0px; }
img { max-width: 100%; }

/* FORMULÁRIOS */
.input-contato, .area-contato, input[type=text], input[type=email], input[type=tel], select, textarea {
    text-align: left;
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: $corPrincipal;
    background-color: #efefef;
    -webkit-appearance: none;
    // border: solid 1px $corPrincipal;
    border-radius: 30px;
    &::placeholder {
    	color: #585858 !important;
    }
}
textarea { border-radius: 20px !important; }
input:focus, textarea:focus, button:focus { outline: none !important; }
input[type=button], input[type=submit], input[type=reset], button {
    display: inline-block;
    background-color: $corPrincipal;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    color: $corBranco;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    transition: ease 0.3s all;
    border-radius: 30px;
    &:hover {
        background-color: $corPrincipalEscura;
    }
}

/* CONTACT FORM */
span.wpcf7-not-valid-tip {
    display: block !important;
    background-color: #d01414 !important;
    color: #fff !important;
    font-size: 1em !important;
    font-weight: normal !important;
    text-transform: uppercase !important;
    padding: 6px 12px !important;
    margin: 0px !important;
}
div.wpcf7-response-output {
    background-color: #efefef !important;
    color: #cc2e2e !important;
    border: dashed 2px #cc2e2e !important;
    text-align: center !important;
    text-transform: uppercase !important;
    font-size: 19px !important;
    font-weight: 600 !important;
    margin: 0px !important;
    padding: 6px 3px !important;
}
.form-check-input {
    position: relative !important;
}
/* PAGINATION */
.pagination{
    display: block;
    width: 100%;
    text-align: center;
    margin: 30px auto;
    li{
        display: inline-block;
        margin: 0px 5px;
        a {
            background-color: $corPrincipal;
            border: 1px solid $corPrincipal;
            padding: 8px 15px;
            border-radius: 6px;
            font-size: 17px;
            text-align: center;
            color: $corBranco;
            transition: ease .3s all;
            &.current { color: $corSecundaria; }
            &:hover {
                background-color: #fff;
                color: #016b27;
            }
        }
    }
}

.section-ads {
    padding: 30px 0px;
    background-color: #d4d4d4;
    .adsbanner {
        height: 120px;
    }
}
.card {
    border: none;
}
/* WORDPRESS */
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

#gallery-1 {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .gallery-item {
        min-width: 290px;
        display: block;
        flex: 0 0 33%;
        float: none !important;
        text-align: center;
        padding: 15px;
        img {
            border: none !important;
            border-radius: 10px;
            width: 100%;
            height: auto;
        }
    }
    .gallery-caption {
        margin-left: 0;
    }
}

@media screen and (max-width: $xsWidth) {
    h1 { font-size: 30px; }
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {

}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {

}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
    
}
@media screen and (min-width: $xlWidth) {
    
}