header {
	position: relative;
	height: 100px;
	z-index: 100;
	.header-area {
		background-color: $corGrayPrincipal;
		padding: 5px 0px;
		width: 100%;
		height: 100px;
		&.fixed {
			top: 0px;
			position: fixed;
			box-shadow: 0px 0px 2px #999;
		}
		.header-background {
			background-image: url('../img/header-menu-2.png');
			background-size: 100% 100%;
			background-position: left bottom;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			position: absolute;
			z-index: -1;
			opacity: 0.7;
			transition: all 0.3s ease;
			&.down {
				opacity: 1;
			}
			&.front-header {
				opacity: 1;
			}
		}
		.header-main {
			z-index: 2;
		}
		.nav-button {
			float: right;
			.disable {
				display: none;
			}
			.hamburger {
				padding: 30px 10px;
			}
		}
		.logo {
			float: left;
			img {
				height: 60px;
				margin: 15px 20px;
			}
		}
		nav {
			float: right;
			ul.header-menu {
				display: flex;
				margin: 0px !important;
				li {
					&::before {
						display: none;
					}
					padding: 33px 10px;
					font-weight: 500;
					font-size: 17px;
					font-weight: normal;
					a {
						&:hover, &:hover i {
							color: $corSecundaria;
						}
						i {
							font-size: 15px;
							color: #535353;
						}
						font-family: 'Open Sans';
						color: #535353;
					}
				}
			}
		}
	}
}
section.content-title {
	background-color: $corPrincipal;
    padding: 15px 0px;
    margin: 20px 0px;
    h1 {
    	font-size: 40px;
    	color: $corBranco;
	    font-weight: 500;
	    text-transform: uppercase;
    }
}
/*

*/
@media screen and (max-width: $xsWidth) {
	header {
		.header-area {
			.header-background {
				opacity: 1;
			}
			.logo {
				img {
					height: 50px;
					margin: 17px 8px;
				}
			}
			.header-search {
				display: none;
			}
			nav {
				display: none;
			}
		}
	}
	section.content-title {
	    h1 {
	    	font-size: 23px;
	    	text-align: center;
	    }
	}
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
	header { 
		.header-area {
			height: 100px;
			.header-background {
				opacity: 1;
			}
			nav {
				display: none;
			}
			.header-search {
				display: none;
			}
			nav {
				display: none;
			}
		}
	}
	section.content-title {
	    h1 {
	    	font-size: 32px;
	    	text-align: center;
	    }
	}
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
	header { 
		height: 100px;
		.header-area {
			.nav-button {
				.hamburger {
					padding: 30px 2px;
				}
			}
			.logo {
				img {
					padding: 7px 10px;
				}
			}
			nav {
				ul.header-menu {
					li {
						padding: 30px 10px;
						font-size: 16px;
					}
				}
			}
		}
	}
	section.content-title {
	    h1 {
	    	font-size: 35px;
	    }
	}
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
	header { 
		.header-area {
			nav {
				ul.header-menu {
					li {
						padding: 30px 15px;
						font-size: 19px;
					}
				}
			}
		}
	}
}
@media screen and (min-width: $xlWidth) {
	
}