.icons {
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 50px;
    width: 50px;
	&.icon-news { background-image: url('../img/icons/title-news.png'); }
    &.icon-proposal { background-image: url('../img/icons/title-proposals.png'); }
    &.icon-biography { background-image: url('../img/icons/title-biography.png'); }
    &.icon-achievements { background-image: url('../img/icons/title-achievements.png'); }
    &.icon-whatsapp { background-image: url('../img/icons/socials-whatsapp.png'); }
    &.icon-phone { background-image: url('../img/icons/socials-phone.png'); }
    &.icon-facebook { background-image: url('../img/icons/socials-facebook.png'); }
    &.icon-twitter { background-image: url('../img/icons/socials-twitter.png'); }
    &.icon-instagram { background-image: url('../img/icons/socials-instagram.png'); }
    &.icon-youtube { background-image: url('../img/icons/socials-youtube.png'); }
    &.icon-email { background-image: url('../img/icons/socials-email.png'); }
    &.icon-intranet { background-image: url('../img/icons/socials-intranet.png'); }
    &.icon-red {
        &.icon-news { background-image: url('../img/icons/title-news-red.png') !important; }
        &.icon-proposal { background-image: url('../img/icons/title-proposals-red.png') !important; }
        &.icon-biography { background-image: url('../img/icons/title-biography-red.png') !important; }
        &.icon-achievements { background-image: url('../img/icons/title-achievements-red.png') !important; }
        &.icon-whatsapp { background-image: url('../img/icons/socials-whatsapp-red.png') !important; }
        &.icon-phone { background-image: url('../img/icons/socials-phone-red.png') !important; }
        &.icon-facebook { background-image: url('../img/icons/socials-facebook-red.png') !important; }
        &.icon-twitter { background-image: url('../img/icons/socials-twitter-red.png') !important; }
        &.icon-instagram { background-image: url('../img/icons/socials-instagram-red.png') !important; }
        &.icon-youtube { background-image: url('../img/icons/socials-youtube-red.png') !important; }
        &.icon-email { background-image: url('../img/icons/socials-email-red.png') !important; }
        &.icon-intranet { background-image: url('../img/icons/socials-intranet-red.png'); }
    }
}
@media screen and (max-width: 280px) {
	.icons { display: block; margin: 0px auto; }
}
@media screen and (max-width: $smWidth) {
	.icons { width: 35px; height: 35px; }
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
	.icons { width: 40px; height: 40px; }
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
	.icons { width: 42px; height: 42px; }
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
	.icons { width: 40px; height: 40px; }
}
@media screen and (min-width: $xlWidth) {
	
}
.header-socials {
    float: right;
    margin: 0px 15px;
    ul {
        list-style-type: none;
        margin-bottom: 0px;
        li {
            display: inline-block;
            padding: 18px 8px;
            .icons {
                width: 30px;
                height: 30px;
            }
        }
    }
}
@media screen and (max-width: $smWidth) {
    .header-socials { display: none; }
}
.socials-fixed {
    display: none;
    ul {
        list-style: none;
        position: fixed;
        top: 50%;
        left: 0%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 10;
        li {
            a {
                display: block;
                margin-left: -2px;
                height: 60px;
                width: 60px;
                border-radius: 0 25px 25px 0;
                border: 2px solid #000;
                background: #FFF;
                margin-bottom: 1em;
                transition: all .4s ease;
                color: #2980b9;
                text-decoration: none;
                line-height: 60px;
                position: relative;
                &:hover {
                    cursor: pointer;
                    width: 180px;
                    color: #fff;
                    span {
                        left: 0;
                    }
                }
                span {
                    padding: 12px 10px;
                    position: absolute;
                    left: -120px;
                    transition: left .4s ease;
                    font-family: 'Amsi Title';
                    text-transform: uppercase;
                    line-height: normal;
                    font-size: 20px;
                }
                i {
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    font-size: 1.5em;
                    width: 25px;
                    height: 25px;
                }
            }
            .facebook,
            .twitter,
            .instagram,
            .youtube 
            { background-color: $corPrincipal; border-color: $corPrincipal; color: #2452a1; }
            .facebook:hover,
            .twitter:hover,
            .instagram:hover,
            .youtube:hover
            { background-color: $corPrincipalEscura; }

        }
    }
}

@media screen and (max-width: 576px) {
    .socials-fixed {
        display: block; 
        ul {
            background-color: $corPrincipal;
            list-style: none;
            position: fixed;
            top: auto;
            bottom: 0px;
            left: 0px;
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
            z-index: 10;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin: 0px;
            padding: 0px;
            box-shadow: 0px 0px 5px #0c1c38;
            li {
                width: 25%;
                a {
                    margin-left: 0px;
                    height: 60px;
                    width: 100%;
                    border: none;
                    background-color: transparent;
                    margin-bottom: 0px;
                    border-radius: 0px;
                    text-align: center;
                    &:hover {
                        width: 100% !important;
                    }
                    span {
                        display: none;
                    }
                    i {
                        position: relative;
                        top: 0px;
                        right: 0px;
                        -webkit-transform: translateY(0px);
                        transform: translateY(0px);
                        margin: 18px;
                    }
                }
                .facebook, .twitter, .instagram, .youtube {
                    background: $corPrincipal;
                    border: none;
                    color: $corBranco;
                }
            }
        }
    }
}