.section-socials {
	padding: 35px 0px;
	text-align: center;
	h1 {
		background-color: $corBranco;
	    text-transform: uppercase;
	    font-size: 45px;
	    position: relative;
	    z-index: 2;
	    padding: 0px 20px;
	    color: $corSecundaria;
	    text-align: right;
	}
    .list-socials {
	    display: flex;
	    justify-content: flex-end;
	    align-items: center;
	    padding: 45px 0px 15px;
	    .single-socials {
		    padding: 10px 30px;
		    .icons {
		    	height: 80px;
		    	width: 80px;
				&.icon-news { background-image: url('../img/icons/title-news-orange.png'); }
				&.icon-proposal { background-image: url('../img/icons/title-proposals-orange.png'); }
				&.icon-biography { background-image: url('../img/icons/title-biography-orange.png'); }
				&.icon-achievements { background-image: url('../img/icons/title-achievements-orange.png'); }
				&.icon-whatsapp { background-image: url('../img/icons/socials-whatsapp-orange.png'); }
				&.icon-phone { background-image: url('../img/icons/socials-phone-orange.png'); }
				&.icon-facebook { background-image: url('../img/icons/socials-facebook-orange.png'); }
				&.icon-twitter { background-image: url('../img/icons/socials-twitter-orange.png'); }
				&.icon-instagram { background-image: url('../img/icons/socials-instagram-orange.png'); }
				&.icon-youtube { background-image: url('../img/icons/socials-youtube-orange.png'); }
			}
		}
	}
}
@media screen and (max-width: $xsWidth) {
	.section-socials {
		h1 {
		    font-size: 30px;
		    padding: 15px 20px;
		    text-align: center;
		}
	    .list-socials {
		    padding: 25px 0px 15px;
		    justify-content: center;
		    .single-socials {
			    padding: 8px 20px;
			    .icons {
			    	width: 50px;
			    	height: 50px;
			    }
			}
		}
	}
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
	.section-socials {
		h1 {
		    font-size: 40px;
		    padding: 15px 20px;
		    text-align: center;
		}
	    .list-socials {
		    padding: 25px 0px 15px;
		    justify-content: center;
		    .single-socials {
			    padding: 8px 20px;
			    .icons {
			    	width: 60px;
			    	height: 60px;
			    }
			}
		}
	}
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
	.section-socials {
		h1 {
		    font-size: 40px;
		    padding: 15px 20px;
		}
	}
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
	
}
@media screen and (min-width: $xlWidth) {
	
}