.home-topo {	
	.home-banner-bar {
		position: relative;
	    height: 100%;
	    padding: 0px;
	    background-color: $corBranco;
	    z-index: 50;
	    transition: all 0.3s ease;
		ul {
	    	// border: solid 1px #d6d6d6;
			list-style-type: none;
			padding-inline-start: 0px;
			padding: 0px;
	    	margin: 0px -15px;
			li {
				display: block;
				&::before {
					display: none;
				}
				a {
					display: block;
					font-size: 18px;
					padding: 14px 10px;
					// text-transform: uppercase;
					transition: all 0.3s ease;
					border-bottom: solid 1px $corPrincipalEscuraDark;
					cursor: pointer;
					border-bottom: solid 1px #d6d6d6;
					line-height: normal !important;
					font-family: 'Open Sans';
					color: $corText;
					font-weight: normal !important;
					i {
						color: $corPrincipal;
					}
				}
				&:hover {
					a {
						background-color: $corPrincipal;
						&, i {
							color: $corBranco;
						}
					}
				}
				&.current_page_item {
					a {
						pointer-events: none;
						background-color: $corPrincipalEscura;
						&, i {
							color: $corBranco;
						}
					}
				}
			}
		}
		&.active {
			right: 0px;
		}
	}
	.home-banner {
		width: 100%;
		max-height: 370px;
		min-height: 450px;
		overflow: hidden;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: block;
		position: relative;
		& > img {
			width: 100%;
		}
		.row {
			height: 100%;
			.swiper-content {
				width: 100%;
				height: 100%;
				.swiper-wrapper {
					height: 100%;
					width: 100%;
					.swiper-slide {
						height: 100%;
						width: 100%;
						.banner-slide-single {
							background-repeat: no-repeat;
							background-size: cover;
							background-position: center;
							height: 100%;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: $xsWidth) {
	.home-topo {
		.home-banner-bar {
			display: none;
		}
		.home-banner {
			min-height: 130px;
			& > img {
				display: none;
			}
		}
	}
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
	.home-topo {
		.home-banner-bar {
			display: none;
		}
	}
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
	.home-topo {	
		.home-banner-bar {
			ul {
				li {
					&::before {
						padding: 10px;
					}
					a {
						font-size: 15px;
						padding: 8px 10px;
					}
				}
			}
		}
	}
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
	.home-topo {	
		.home-banner-bar {
			ul {
				li {
					a {
						font-size: 16px;
					}
				}
			}
		}
	}
}
@media screen and (min-width: $xlWidth) {
	.home-topo {
		.home-banner {
			& > img {
				display: none;
			}
		}
	}
}