.home-brands {
	padding: 35px 0px;
	.content-brands {
		h2.title {
			color: $corSecundaria;
		}
		.list-brand {
			.single-brand {
				width: 20%;
				padding: 15px;
				img {
					width: 100%;
				}
			}
			.flickity-prev-next-button.next { right: -50px; } 
			.flickity-prev-next-button.previous { left: -50px; }
		}
	}
}
@media screen and (max-width: $xsWidth) {
	.home-brands {
		padding: 5px 0px 25px;
		.content-brands {
			h2.title { text-align: left; font-size: 28px;}
			.list-brand {
				text-align: center;
				.flickity-prev-next-button.next { display: inline-block; right: auto; position: relative; } 
				.flickity-prev-next-button.previous { display: inline-block; left: auto; position: relative; }
				.flickity-page-dots { display: none; }
				.single-brand { width: 50%; }
			}
		}
	}
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
	.home-brands {
		padding: 5px 0px 25px;
		.content-brands {
			h2.title { text-align: left; font-size: 32px;}
			.list-brand {
				text-align: center;
				.flickity-prev-next-button.next { display: inline-block; right: 0px; position: relative; margin: 20px 0px;} 
				.flickity-prev-next-button.previous { display: inline-block; left: 0px; position: relative; margin: 20px 0px;}
				.flickity-page-dots { display: none; }
				.single-brand { width: 50%; }
			}
		}
	}
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
	.home-brands {
		.content-brands {
			h1 { text-align: center; }
			.list-brand {
				text-align: center;
				.flickity-prev-next-button.next { display: inline-block; right: 0px; position: relative; margin: 20px 0px;} 
				.flickity-prev-next-button.previous { display: inline-block; left: 0px; position: relative; margin: 20px 0px;}
				.flickity-page-dots { display: none; }
				.single-brand { width: 33.3%; }
			}
		}
	}
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
    
}
@media screen and (min-width: $xlWidth) {
    
}