.list-posts {
	.text {
		h1 {
		    font-weight: 800;
		    font-size: 32px;
		    margin: 0;
		    &.cit{
			    font-size: 50px;
			    font-weight: bold;
			    &.above{
				    font-size: 50px;
				    font-weight: bold;
				    line-height: 0;
				    margin-top: 26px;
				}
			}
		}
		h2 {
			font-size: 18px;
			font-weight: 900;
			margin-top: 0;
			text-transform: uppercase;
			text-align: left;
			font-family: 'Open Sans';
		}
		h3 {
			font-size: 14px;
		    font-weight: 500;
		    margin-top: 0;
		    margin-bottom: 4px;
			text-transform: uppercase;
			color: #b3b3b3;
			font-family: 'Open Sans';
		}
		a {
		    font-size: 16px;
		    font-weight: 600;
		}
		p {
		    font-size: 16px;
		    margin-top: 12px;
		    margin-bottom: 12px;
		}
	}
	.img-default {
		width: 100%;
	    min-height: 350px;
	    background-size: cover;
	    background-position: center;
	    background-color: $corPrincipal;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    h3 {
	    	color: $corBranco;
	    }
	    &.full-post {
	    	height: 100% !important;
		    position: absolute;
	    }
	}
	.view-more {
	    font-weight: bold;
	    color: $corSecundaria;
	}
	.content{
	    background-color: $corBranco;
	    box-shadow: 0px 0px 6px #d4d4d4;
	    border-radius: 8px;
	    display:block;
	    color: black;
	    min-height: 360px;
	    margin: 10px 0px;
	    overflow: hidden;
	    .img-news, img {
		    width: 100%
		}
		.text {
		    padding: 20px;
		}
		.cotation {
		    padding: 25px;
		    p {
			    margin-top: 12px;
			}
		}
	}
	.featured {
		.content {
			color: white;
		    overflow: hidden;
		    position: relative;
			.text {
				position: absolute;
			    background: none;
			    bottom: 0;
			    max-width: 100%;
			    color: white;
			}
		}
	}
	.text {
		.more {
		    color: $corBranco;
		    font-weight: bold;
		}
	}
	.btn.more-posts{
	    display: block;
	    background-color: #f3b423;
	    color: white;
	    border-radius: 0;
	}
}
@media screen and (max-width: $smWidth){
	.list-posts {
		.img-default {
		    min-height: 450px;
		}
		.btn.more-posts {
			width: 100%;
			.plus{
		        display: none;
		    }
		    .txt{
		        display: inline;
		        font-size: 22px;
		        font-weight: 800;
		    }
		}
	}
}
@media screen and (min-width: $xsWidth) and (max-width: $smWidth) {
	.list-posts {
		.img-default {
		    min-height: 240px;
		}
		.btn.more-posts {
			width: 100%;
			.plus{
		        display: none;
		    }
		    .txt{
		        display: inline;
		        font-size: 22px;
		        font-weight: 800;
		    }
		}
	}
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
	.list-posts {
		.img-default {
		    min-height: 210px;
		}
		.content {
			min-height: 390px;
	        margin-top: 20px;
		}
		.btn.more-posts {
	        width: 20%;
	        float: right;
	        margin-top: -75px;
	        .plus {
		        display: inline;
		        font-size: 60px;
		        font-weight: 300;
		        line-height: 0.8;
		    }
		    .txt{
		        display: none;
		    }

		}
	}
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
	.list-posts {
		.img-default {
		    min-height: 190px;
		}
		.content {
			min-height: 390px;
	        margin-top: 20px;
		}
		.btn.more-posts {
	        width: 20%;
	        float: right;
	        margin-top: -75px;
	        .plus {
		        display: inline;
		        font-size: 60px;
		        font-weight: 300;
		        line-height: 0.8;
		    }
		    .txt{
		        display: none;
		    }

		}
	}
}