.page-specials {
	.banner-pascoa-landing {
		background-image: url('../img/banner-header-pascoa.jpg');
		-webkit-background-size: cover;
		background-position: center;
		background-size: cover;
		display: block;
		width: 100%;
		height: 180px;
		margin-bottom: 15px;
	}
}
@media screen and (max-width: $xsWidth) {
	.page-specials {
		.banner-pascoa-landing {
			height: 70px;
		}
	}
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
	.page-specials {
		.banner-pascoa-landing {
			height: 100px;
		}
	}
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
	.page-specials {
		.banner-pascoa-landing {
			height: 140px;
		}
	}
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
	
}
@media screen and (min-width: $xlWidth) {
	
}