.page-clients {
	.list-clients {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		.single-clients {
			padding: 15px;
		}
	}
}

@media screen and (max-width: $xsWidth) {

}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {

}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {

}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
	
}
@media screen and (min-width: $xlWidth) {
	
}